.user {

}

.user__name {
    text-align: center;
}

.form {
    display: none;
    flex-direction: column;
    align-items: center;
}

.result {
    display: none;
    flex-direction: column;
    align-items: center;
}
