html, body {
  width: 100%;
  background-color: $white;
  font-family: monte-flex, sans-serif;
  font-size: 20px;
}

.wrapper {
  width: 100%;
  max-width: 68rem;
  @include marg(0 auto);
}
