@import "fonts";

html, body {
  width: 100%;
  background-color: #ffffff;
  font-family: monte-flex, sans-serif;
  font-size: 20px;
}

.app_btn {
  background-color: #8d81ac;
  color: #ffffff;
  border: none;
  border-radius: 5em;
  padding: 0.5em;
  &:hover {
    background-color: #70477e;
  }
  &:active {
    opacity: 0.8;
  }
}


.flx_row {
  display: flex;
  flex-direction: row;
}

.flx_col {
  display: flex;
  flex-direction: column;
}

.text_center {
  text-align: center;
}

.wrapper {
  max-width: 69rem;
  margin: 0 auto;
}
