@font-face {
  font-family: monte-grid;
  src: url("../fonts/Montserrat-Regular.ttf") format("woof");
}

@font-face {
  font-family: monte-flex;
  src: url("../fonts/Montserrat-Bold.ttf") format("woof");
  font-weight: 700;
}

@font-face {
  font-family: source-flex;
  src: url("../fonts/SourceSansPro-Regular.ttf") format("woof");
}

@font-face {
  font-family: source-flex;
  src: url("../fonts/SourceSansPro-BoldItalic.ttf") format("woof");
  font-weight: 400;
}

@font-face {
  font-family: lato-flex;
  src: url("../fonts/SourceSansPro-BoldItalic.ttf") format("woof");
  font-weight: 400;
}
