@media (max-width: 991.98px) {

  .main_header {
    background: url(../src/img/header_mobile.png) center;
  }

  .header_nav_block {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
  }

  .header_nav {
    .slide_menu {
      margin-left: 1.5rem;
      display: inline;
      font-size: 1.7rem;
      cursor: pointer;
    }
    .slide_cl_btn {
      position: relative;
      top: 0;
      font-size: 1.5rem;
    }
    .menu {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 10;
      top: 0;
      right: 0;
      background-color: $accent;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 3rem;
      a {
        color: #ffffff;
        padding: 0 1rem 1rem;
        text-decoration: none;
        display: block;
        transition: 0.5s;
        &:hover {
          color: $dim;
        }
      }
    }


    .buy_btn {
      margin-right: 1rem;
    }
  }

  .revolution_section {
    margin: 2.5rem auto 1rem;
    p {
      margin: 0.5rem auto;
    }
  }

  .you_get_section {
    margin-top: 1rem;
  }

  .you_get_block {
    flex-direction: column;
    padding: 0 1rem;
    h3 {
      margin: 1rem auto 0;
      text-align: center;
    }
    .editor {
      display: none;
    }
  }

  .you_get_content {
    max-width: 98%;
    margin: 1.5rem auto;
    div {
      margin-bottom: 1rem;
    }
  }

  .marvel {
    margin: 1rem auto;
  }

  .comments {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }


  .social_btn {
    flex-direction: column;
    margin-top: 1rem;
  }

  .talking_section {
    background-size: cover;
    margin-top: 1rem;
    h3 {
      margin: 2.5rem auto;
    }
  }

  .talking_block {
    justify-content: space-around;
    align-items: baseline;
    p {
      margin-bottom: 1.5rem;
    }
  }

  .subscribe_block {
    flex-wrap: wrap;
    justify-content: center;
  }

  .subscribe_form {
    flex-direction: column;
    padding: 2rem 1rem;
    p {
      text-align: center;
      margin-bottom: 3rem;
    }
    div {
      width: 98%;
      text-align: center;
      margin: 0 auto;
    }
  }

  .blog_section {
    margin-top: 1rem;
    flex-direction: column;
    width: 90%;
  }

  .blog_block {
    max-width: 100%;
    padding: 0 0.5rem;
    margin: 0;
    h4 {
      margin: 1rem 0;
    }
  }

  .footer_main {
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    margin: 0;
    padding: 0 1rem;
    max-height: 100%;
    div {
      max-width: 90%;
      margin: 1rem;
    }
  }
}

@media (max-width: 900px){
  .talking_block {
    padding: 0 2rem;
    p {
      margin: 0 auto 1.5rem;
      max-width: 100%;
    }
}
}

@media (max-width: 575.98px) {
  html, body {
    font-size: 18px;
  }

  .header_bar {
    padding: 0.4rem;
    flex-direction: column;
  }

  .header_nav_block {
    width: 90%;
    justify-content: space-between;
  }

  .revolution_section h3 {
    font-size: 90%;
    margin-top: 2rem;
  }

  .subscribe_section h3 {
    font-size: 90%;
    margin-top: 0.5rem;
    padding: 0.5rem 0;
  }

  .you_get_block h3 {
    margin: 0.5rem auto 0;
    text-align: center;
    font-size: 90%;
  }

  .you_get_content div {
    margin-bottom: 0.7rem;
    flex-direction: column;
    align-items: center;
  }

  .comments {
    padding: 0.2rem;
    margin: 0;
    font-size: 70%;
  }

  .talking_section h3 {
    margin: 0;
    padding: 0.3rem;
    font-size: 2rem;
  }

  .talking_block {
    padding: 0.3rem;
    img {
      max-width: 90%;
    }
  }

  .arrow {
    display: none;
  }

  .subscribe_form input {
      width: 50%;
      margin-bottom: 1rem;
  }

  .footer_main div{
    margin: 0.5rem;
  }
}

@media (max-width: 374px) {
  html, body {
    font-size: 80%;
  }

  .wrapper {
    max-width: 95%;
  }

  .download_section button {
    padding: 0.5rem;
  }

  .subscribe_passive h4 {
    font-size: 95%;
  }

  .subscribe_passive button {
    padding: 0.4rem;
    font-size: 90%;
  }

  .marvel {
    flex-direction: column;
  }

  .footer_main {
    padding: 0 0.2rem;
    width: 80%;
  }
}
